.app{
    height: 100vh;
   .sections{
    width: 100%;
    height: calc(100vh - 70px);
    background-color: lightcoral;  
    position: relative;
    top: 70px;
    scroll-behavior:smooth; //smoother movement back
    scroll-snap-type: y mandatory; //stop in the middle of two sections - snaps it back to the closes one
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar{
        display: none;
    }
    > *{
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;  //stop in the middle of two sections - snaps it back to the closes one
        }

    }
   
}